.row > h1 {
  /* color: red; */
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 40px;
}
form input {
  padding: 10px;
}
.col-7 h2 {
  font-size: 30px;
  margin: 20px 0px 30px 0px;
}

.col-5 h1 {
  font-size: 30px;
  letter-spacing: 2px;
}
