<!-- If we want to use component of one module in another module we have to import whole module in 
the module.ts file of the module -->

<app-header></app-header>

<div class="d-flex father w-75 m-auto mt-3" style="height: auto">
  <div class="container w-50 container-custom">
    <form (ngSubmit)="submitUploadForm()" [formGroup]="myuploadform">
      <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
          <h2 class="text-center w-75 text-dark mt-1 p-3">
            UPLOAD Merchandise Products
          </h2>
        </div>
        <div class="col-sm-12 mb-2 form-group">
          <label for="name-f" class="">Name</label>
          <input
            type="text"
            class="form-control bg-transparent input-control p-2"
            name="fname"
            id="name-f"
            placeholder="Enter product name."
            required
            formControlName="name"
          />
        </div>

        <div class="col-sm-12 mb-2 form-group">
          <label for="name-f" class="">Quantity</label>
          <input
            type="number"
            class="form-control bg-transparent input-control p-2"
            name="fname"
            id="name-f"
            required
            formControlName="quantity"
          />
        </div>

        <div class="col-sm-12 mb-2 form-group">
          <label for="name-f" class="">Price</label>
          <input
            type="number"
            class="form-control bg-transparent input-control p-2"
            name="price"
            id="name-f"
            required
            formControlName="price"
          />
        </div>

        <div class="col-sm-12 mb-3 form-group">
          <label for="name-l">Category</label><br />
          <!-- <input type="text" class="form-control p-3" name="lname" id="name-l" placeholder="Enter your last name." required> -->
          <select
            name="selectcategory"
            id=""
            class="form-control"
            placeholder="selectcategory"
            formControlName="category"
          >
            <option *ngFor="let item of category">{{ item }}</option>
          </select>
        </div>

        <div class="col-sm-12 form-group mb-3">
          <label for="name-l">Image</label>
          <input
            type="file"
            class="form-control bg-transparent p-2"
            name="lname"
            id="name-l"
            placeholder="Enter your last name."
            required
            multiple
            (change)="getimages($event)"
            #FileSelect
          />
          <p style="opacity: 0.6" class="mt-0">Image Should be in 16:9 ratio</p>
        </div>
        <div class="col-sm-12 form-group mt-3 mb-0 d-flex">
          <button class="btn p-3 w-75 m-auto btn-dark">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
